doc/Standards/DataSchema/prodML_v1.2.2/prodml_v1.2.2_data/generated_write_schemas/cs_datedComment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	targetNamespace="http://www.prodml.org/schemas/1series"
	xmlns:prodml="http://www.prodml.org/schemas/1series"
	xmlns:abs="http://www.energistics.org/schemas/abstract"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="PRODML_v1.2.2">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2012 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                         -->
   <xsd:include schemaLocation="typ_dataTypesProdml.xsd" />
   <xsd:include schemaLocation="cs_extensionNameValue.xsd" />
   <xsd:include schemaLocation="attgrp_uid.xsd" />
   <!--                                                         -->
   <xsd:complexType name="cs_datedComment">
      <xsd:annotation>
         <xsd:documentation>A general timestamped comment structure.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="who" type="prodml:nameString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the person providing the comment.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="role" type="prodml:kindString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The role of the person providing the comment. This is the role of the person within the context of comment.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dTimStart" type="prodml:timestamp" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date and time where the comment begins to be valid.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dTimEnd" type="prodml:timestamp" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date and time where the comment is no longer valid.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="remark" type="prodml:commentString" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The relevant comment.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionNameValue" type="prodml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="prodml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>The unique identifier of the recurring element.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
</xsd:schema>
