doc/Standards/energyml/data/completions/v1.0/completions_v1.0/generated_delete_schemas/cs_downholeComponentRef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:abs="http://www.energistics.org/schemas/abstract"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.4.1.1">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2013 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <xsd:import namespace="http://www.energistics.org/schemas/abstract" schemaLocation="../../abstract_v1.0/xsd_schemas/sub_abstractSubstitutionGroup.xsd" />
   <xsd:include schemaLocation="typ_dataTypes.xsd" />
   <xsd:complexType name="boreholeStringRef">
      <xsd:sequence minOccurs="0">
         <xsd:element name="stringEquipmentRefID" type="witsml:refString" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="boreholeStringRefID" type="witsml:refString" use="optional" />
   </xsd:complexType>
   <xsd:complexType name="downholeStringRef">
      <xsd:sequence minOccurs="0">
         <xsd:element name="stringEquipmentRefID" type="witsml:refString" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="downholeStringRefID" type="witsml:refString" use="optional" />
   </xsd:complexType>
   <xsd:complexType name="downholeComponentRef">
      <xsd:sequence minOccurs="0">
         <xsd:element name="stringEquipmentRefID" type="witsml:refString" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element name="boreholeStringRef" type="witsml:boreholeStringRef" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element name="downholeStringsRef" type="witsml:downholeStringRef" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element name="perforationSetRefID" type="witsml:refString" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
