doc/Standards/energyml/data/completions/v1.0/completions_v1.0/generated_delete_schemas/cs_geologyFeature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
	targetNamespace="http://www.witsml.org/schemas/1series" 
	xmlns:witsml="http://www.witsml.org/schemas/1series" 
	xmlns:abs="http://www.energistics.org/schemas/abstract"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="1.4.1.1">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2013 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <xsd:include schemaLocation="cs_extensionNameValue.xsd" />
   <xsd:include schemaLocation="cs_equipmentCatalog.xsd" />
   <xsd:include schemaLocation="attgrp_uid.xsd" />
   <xsd:complexType name="cs_geologyFeature">
      <xsd:annotation>
         <xsd:documentation>Geology features found in the location of the borehole string.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence minOccurs="0">
         <xsd:element name="name" type="witsml:nameString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Name of the feature</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="geologyType" type="witsml:GeologyType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Aquifer or reservoir</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mdTop" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Measured depth at top of interval.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mdBottom" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Measured depth at base of interval.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="tvdTop" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>True vertical depth at top of the section.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="tvdBottom" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>True vertical depth at bottom of the section.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="tvdBase" type="witsml:wellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>True vertical depth at base of interval.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="witsml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>Unique identifier for the geology feature.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
</xsd:schema>
