doc/Standards/DataSchema/prodML_v1.3/prodml_v1.3_data/generated_delete_schemas/cs_curveData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.prodml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified"
version="PRODML_v1.3">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2014 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                         -->
   <xsd:include schemaLocation="typ_dataTypesProdml.xsd" />
   <xsd:include schemaLocation="attgrp_uid.xsd" />
   <!--                                                         -->
   <xsd:complexType name="cs_curveData">
      <xsd:sequence minOccurs="0">
         <xsd:element name="index" type="prodml:unitlessQuantity" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>The value of an independent (index) variable in a row of the curve table. The units of measure are specified in the curve definition. The first
               value corresponds to order=1 for colums where isIndex is true. The second to order=2. And so on. The number of index and data values must match the number of
               columns in the table.</xsd:documentation>
               <xsd:appinfo>write-constraint:@minOccurs="1"</xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="value" type="prodml:unitlessQuantity" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>The value of a dependent (data) variable in a row of the curve table. The units of measure are specified in the curve definition. The first value
               corresponds to order=1 for columns where isIndex is false. The second to order=2. And so on. The number of index and data values must match the number of columns in
               the table.</xsd:documentation>
               <xsd:appinfo>write-constraint:@minOccurs="1"</xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="prodml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>Unique identifier for the node.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
   <!--                                                         -->
</xsd:schema>
