doc/Standards/energyml/data/prodml/v1.3/prodml_v1.3_data/generated_update_schemas/cs_wellTestFluidLevelTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.prodml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified"
version="PRODML_v1.3">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2014 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                         -->
   <xsd:include schemaLocation="typ_dataTypesProdml.xsd" />
   <!--                                                         -->
   <xsd:complexType name="cs_wellTestFluidLevelTest">
      <xsd:sequence minOccurs="0">
         <xsd:element name="fluidLevel" type="prodml:lengthMeasure" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The fluid level achieved in the well. The value is given as length units from the top of the well.</xsd:documentation>
               <xsd:appinfo>write-constraint:@minOccurs="1"</xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="baseUsableWater" type="prodml:lengthMeasure" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The lowest usable water depth as measured from the surface. See TxRRC H-15.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="testedBy" type="prodml:nameString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The business associate that conducted the test. This is generally a person.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <!--                                                         -->
</xsd:schema>
