doc/Standards/energyml/data/raster/v1.0/generated_write_schemas/cs_depthRegLogRect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.witsml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified"
version="1.0">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2015 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                         -->
   <xsd:include schemaLocation="cs_depthRegRectangular.xsd" />
   <!--                                                         -->
   <xsd:complexType name="cs_depthRegLogRect">
      <xsd:annotation>
         <xsd:documentation>A region of an image containing a log rectangle.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="type" type="witsml:LogRectangularType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A region of an image containing a log section image.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="name" type="witsml:nameString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of a rectangular section.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionNameValue" type="witsml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="position" type="witsml:cs_depthRegRectangular" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The bounding box of the log section image.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="witsml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>Unique identifier for the log rectangular area.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
</xsd:schema>
