doc/Standards/energyml/data/prodml/v1.2.2/prodml_v1.2.2_data/xsd_schemas/cs_productionOperationMarineOperation.xsd

<?xml version="1.0"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.prodml.org/schemas/1series" 
	xmlns:prodml="http://www.prodml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="PRODML_v1.2.2">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_datedComment.xsd"/>
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_productionOperationMarineOperation">
		<xsd:annotation>
			<xsd:documentation>Infomation about a marine operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dTimStart" type="prodml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The beginning date and time that the information represents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dTimEnd" type="prodml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The ending date and time that the comment represents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="generalComment" type="prodml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A general comment on marine activity in the area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="supplyShip" type="prodml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of supply vessel for the installation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="standbyVessel" type="prodml:nameString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of standby vessel for the installation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="supplyShipComment" type="prodml:cs_datedComment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Comment regarding the supply ship.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="standbyVesselComment" type="prodml:cs_datedComment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Comment regarding the standby vessel.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="basketMovement" type="prodml:cs_datedComment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Report of any basket movement to and from the installation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="activity" type="prodml:cs_datedComment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A comment on a special event in the marine area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extensionNameValue" type="prodml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="prodml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>The unique identifier of the recurring element.</xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
	<!--                                                         -->
</xsd:schema>
