doc/Standards/energyml/data/completions/v1.0/completions_v1.0/xsd_schemas/cs_completionStatusHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:witsml="http://www.witsml.org/schemas/1series" xmlns:abs="http://www.energistics.org/schemas/abstract" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.witsml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4.1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2013 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<xsd:include schemaLocation="typ_catalogCompletion.xsd"/>
	<xsd:include schemaLocation="cs_extensionNameValue.xsd"/>
	<xsd:include schemaLocation="attgrp_uid.xsd"/>
	<xsd:complexType name="CompletionStatusHistory">
		<xsd:annotation>
			<xsd:documentation>Information on collection of Completion StatusHistory</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="status" type="witsml:CompletionStatus" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Completion status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startDate" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the start date of status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="witsml:timestamp" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>the end date of status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdBottom" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The measured bottom of perforation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mdTop" type="witsml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The measured top of perforation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="witsml:commentString" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The description about the status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="witsml:attgrp_uid">
			<xsd:annotation>
				<xsd:documentation>Unique identifier for the completion history.
                </xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
	</xsd:complexType>
</xsd:schema>
