doc/Standards/DataSchema/prodML_v1.2.2/prodml_v1.2.2_data/xsd_schemas/cs_wellTestSeparatorData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.prodml.org/schemas/1series" 
	xmlns:prodml="http://www.prodml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="PRODML_v1.2.2">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2012 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="typ_dataTypesProdml.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="cs_wellTestSeparatorData">
		<xsd:annotation>
			<xsd:documentation>Well test data gathered at the separator.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="separatorPressure" type="prodml:pressureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The pressure measured at the separator during the well test.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="separatorTemperature" type="prodml:thermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The temperature measured at the separator during the well test.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--                                                         -->
</xsd:schema>
