doc/Standards/DataSchema/prodML_v1.3/prodml_v1.3_data/generated_write_schemas/cs_wellDatum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.prodml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified"
version="PRODML_v1.3">
   <!--                                                     -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2014 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                     -->
   <xsd:include schemaLocation="cs_refWellWellbore.xsd" />
   <xsd:include schemaLocation="cs_refWellWellboreRig.xsd" />
   <xsd:include schemaLocation="cs_location.xsd" />
   <xsd:include schemaLocation="cs_extensionNameValue.xsd" />
   <xsd:include schemaLocation="attgrp_uid.xsd" />
   <!--                                                     -->
   <xsd:complexType name="cs_wellDatum">
      <xsd:annotation>
         <xsd:documentation>Defines the vertical datums associated with elevation, vertical depth and measured depth coordinates within the context of a well.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="prodml:nameString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The human understandable contextual name of the reference datum.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="code" type="prodml:ElevCodeEnum" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The code value that represents the type of reference datum. This may represent a point on a device (e.g., kelly bushing) or it may represent a
               vertical reference datum (e.g., mean sea level).</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:choice>
            <xsd:element name="datumName" type="prodml:wellKnownNameStruct" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:documentation>The name of the vertical reference datum in a particular naming system. This should only be specified if the above 'code' represents some
                  variation of sea level. An optional short name (code) can also be specified. Specifying a well known datum is highly desired if the above code is a variant of
                  sea level because sea level varies over time and space. An example would be to specify a name of 'Caspian Sea' with a code of '5106' in the 'EPSG' naming
                  system.</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumCRS" type="prodml:refNameString" minOccurs="0" maxOccurs="1">
               <xsd:annotation>
                  <xsd:documentation>A reference to the coordinateReferenceSystem object representing the vertical reference datum (i.e., this wellDatum). This should only be
                  specified if the above 'code' represents some variation of sea level.</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:choice>
         <xsd:element name="kind" type="prodml:kindString" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Since various activities may use different points as measurement datums, it is useful to characterize the point based on its usage. A well
               reference datum may have more than one such characterization. For example, it may be the datum used by the driller and logger for measuring their depths. Example
               usage values would be 'permanent','driller', 'logger' 'WRP' (well reference point) and 'SRP' (site reference point).</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="wellbore" type="prodml:cs_refWellWellbore" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A pointer to the wellbore that contains the reference datum. This should be specified if a measured depth is given.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="rig" type="prodml:cs_refWellWellboreRig" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A pointer to the rig that contains the device used as a reference datum. The rig may be associated with a wellbore in another well (e.g., pattern
               drilling using a rig on a track).</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="elevation" type="prodml:wellElevationCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The gravity based elevation coordinate of this reference datum as measured from another datum. Positive moving upward from the elevation datum.
               An elevation should be given unless this is a vertical reference datum (e.g., sea level).</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="measuredDepth" type="prodml:measuredDepthCoord" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The measured depth coordinate of this reference datum as measured from another datum. The measured depth datum should either be the same as the
               elevation datum or it should be relatable to the elevation datum through other datums. Positive moving toward the bottomhole from the measured depth datum. This
               should be given when a local reference is "downhole", such as a kickoff point or ocean bottom template, and the borehole may not be vertical. If a Depth is given
               then an Elevation should also be given.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="horizontalLocation" type="prodml:cs_location" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The horizontal location of the point being used as a well datum. This may be used when the point is not directly above or below the well point
               location. For example, a well being drilled from a platform may have its location at the entrance into the sea floor, while the well datum may be located on the
               drilling rig. Or the well datum may be a kickoff point, that is not directly under the well surface point.</xsd:documentation>
               <xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3-48, Change=Added</xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" type="prodml:commentString" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A contextual description of the well reference datum.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionNameValue" type="prodml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="defaultMeasuredDepth" type="prodml:logicalBoolean" use="optional">
         <xsd:annotation>
            <xsd:documentation>True indicates that this is the default reference datum for measured depth coordinates. False or not given indicates that this is not the default
            reference datum. Measured depth coordinates that do not specify a datum reference should be assumed to be measured relative to this default reference datum. Only one
            reference datum may be designated as the default measured depth datum for each well. Values are "true" (or "1") and "false" ( or "0").</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="defaultVerticalDepth" type="prodml:logicalBoolean" use="optional">
         <xsd:annotation>
            <xsd:documentation>True indicates that this is the default reference datum for vertical depth coordinates. False or not given indicates that this is not the default
            reference datum. Vertical depth coordinates that do not specify a datum reference should be assumed to be measured relative to the default reference datum. Only one
            reference datum may be designated as the default vertical depth datum for each well. Values are "true" (or "1") and "false" ( or "0").</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="defaultElevation" type="prodml:logicalBoolean" use="optional">
         <xsd:annotation>
            <xsd:documentation>True indicates that this is the default reference datum for elevation coordinates. False or not given indicates that this is not the default
            reference datum. Elevation coordinates that do not specify a datum reference should be assumed to be measured relative to the default reference datum. Only one
            reference datum may be designated as the default elevation datum for each well. Values are "true" (or "1") and "false" ( or "0").</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attributeGroup ref="prodml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>The unique identifier of the reference datum.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
   <!--                                                     -->
</xsd:schema>
