doc/Standards/DataSchema/prodML_v1.3/prodml_v1.3_data/generated_write_schemas/cs_wftInOutParameter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.prodml.org/schemas/1series" elementFormDefault="qualified" attributeFormDefault="unqualified"
version="PRODML_v1.3">
   <!--                                                         -->
   <!-- Energistics License Agreement
        This file is distributed under the Energistics License Agreement at
        http://www.energistics.org
        Use of this file constitutes agreement with the Energistics License Agreement.
        Copyright (c) 2014 Energistics. All rights reserved.
        Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
        -->
   <!--                                                         -->
   <xsd:include schemaLocation="cs_extensionNameValue.xsd" />
   <xsd:include schemaLocation="typ_dataTypes.xsd" />
   <xsd:include schemaLocation="attgrp_uid.xsd" />
   <!--                                                         -->
   <xsd:complexType name="cs_wftInOutParameter">
      <xsd:annotation>
         <xsd:documentation>Defines a parameter which may have been used for input or output depending on the parent node.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="prodml:nameString" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the parameter.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="value" type="prodml:measureOrQuantity" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The value of the parameter. If the value represents a measure, then the uom attribute and the corresponding measureClass must be
               specified.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="measureClass" type="prodml:MeasureClass" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The kind of the measure. For example, "length". This should be specified if the value requires a unit of measure.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="extensionNameValue" type="prodml:cs_extensionNameValue" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Extensions to the schema based on a name-value construct.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attributeGroup ref="prodml:attgrp_uid">
         <xsd:annotation>
            <xsd:documentation>Unique identifier for the node.</xsd:documentation>
         </xsd:annotation>
      </xsd:attributeGroup>
   </xsd:complexType>
   <!--                                                         -->
</xsd:schema>
