doc/Standards/DataSchema/Witsml_v2.0/energyml/data/witsml/v2.0/xsd_schemas/OpsReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>OpsReport Schema</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="DrillReport.xsd"/>
	<xs:include schemaLocation="FluidsReport.xsd"/>
	<xs:include schemaLocation="BhaRun.xsd"/>
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:include schemaLocation="WellboreGeometry.xsd"/>
	<xs:include schemaLocation="Trajectory.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:complexType name="ShakerScreen">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Shaker Screen Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time that activities started.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time activities were completed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDeck" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deck number mesh installed on.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeshX" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mesh size in the X direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeshY" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mesh size in the Y direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer / supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturers designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutPoint" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Shaker screen cut point - the maximum size that 
will pass through the screen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Hse">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Health, Safety and Environment Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DaysIncFree" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Incident free duration (commonly in days).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastCsgPresTest" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last casing pressure test date and time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresLastCsg" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last casing pressure test pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastBopPresTest" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last blow out preventer pressure test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextBopPresTest" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Next blow out preventer pressure test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresStdPipe" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Standpipe manifold pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresKellyHose" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Kelly hose pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresDiverter" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Blow out preventer diverter pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresAnnular" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Blow out preventer annular preventer pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresRams" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Blow out preventer ram pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresChokeLine" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Choke line pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresChokeMan" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Choke line manifold pressure tested to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastFireBoatDrill" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last fire or boat drill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastAbandonDrill" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last abandonment drill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastRigInspection" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last rig inspection/check.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastSafetyMeeting" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last safety meeting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastSafetyInspection" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last safety inspection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastTripDrill" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last trip drill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastDiverterDrill" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last diverter drill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastBopDrill" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last blow out preventer drill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegAgencyInsp" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Governmental regulatory inspection agency inspection?  
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonComplianceIssued" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inspection non-compliance notice served?  
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumStopCards" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of Health, Safety and Environment incidents reported.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidDischarged" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Daily whole mud discarded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolCtgDischarged" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of cuttings discharged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolOilCtgDischarge" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oil on cuttings daily discharge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteDischarged" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of sanitary waste discharged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments and remarks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Incident" type="witsml:Incident" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Incident">
		<xs:annotation>
			<xs:documentation>WITSML - Operations HSE Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reporter" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of person who prepared incident report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumMinorInjury" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of personnel with minor injuries.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumMajorInjury" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of personnel with major injuries.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumFatality" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of personnel killed in incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsNearMiss" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Near miss incident occurrence?  
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescLocation" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescAccident" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accident description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemedialActionDesc" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remedial action description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseDesc" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cause description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimLostGross" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of hours lost due to incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostLossGross" type="witsml:Cost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gross estimate of cost incurred due to incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponsibleCompany" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of company that caused incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Incident</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Personnel">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Personnel Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Company" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeService" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Service provided by the company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPeople" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of people on board for that company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTime" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total time worked by the company (commonly in hours).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Personnel</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SupportCraft">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Support Craft Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human recognizable context for support craft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeSupportCraft" type="witsml:SupportCraftType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of support craft (eg. Barge, helicopter, tug boat)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimArrived" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time when vehicle arrived at rig site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimDeparted" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time when vehicle departed rig site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments and remarks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of SupportCraft</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Weather">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Weather Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of company that supplied the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BarometricPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Atmospheric pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeaufortScaleNumber" type="witsml:BeaufortScaleIntegerCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Beaufort wind scale is a system used to estimate and report wind speeds 
when no measuring apparatus is available. It was invented in the early 19th Century by Admiral 
Sir Francis Beaufort of the British Navy as a way to interpret winds from conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempSurfaceMn" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimum temperature above ground. Temperature of the atmosphere.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempSurfaceMx" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum temperature above ground.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempWindChill" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A measure of the combined chilling effect of wind and low temperature on 
living things, also named chill factor, e.g., according to US weather service table, an air 
temperature of 30 degF with a 10 mi/h corresponds to a windchill of 22 degF.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tempsea" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sea temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Visibility" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Horizontal visibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AziWave" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The direction from which the waves are coming, measured from true north.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtWave" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average height of the waves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignificantWave" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An average of the higher 1/3 of the wave heights passing during a  
sample period (typically 20 to 30 minutes).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxWave" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum wave height.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodWave" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The elapsed time between the passing of two wave tops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AziWind" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The direction from which the wind is blowing, measured from true north.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VelWind" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Wind speed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypePrecip" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of precipitation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmtPrecip" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount of precipitation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoverCloud" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of cloud cover.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CeilingCloud" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Height of cloud cover.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentSea" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current speed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AziCurrentSea" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Azimuth of current.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments and remarks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Weather</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="BeaufortScaleIntegerCode">
		<xs:annotation>
			<xs:documentation>An estimate wind strength based on the Beaufort Wind Scale. 
Values range from 0 (calm) to 12 (hurricane).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupportCraftType">
		<xs:annotation>
			<xs:documentation>Types of support crafts</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="barge"/>
			<xs:enumeration value="standby boat"/>
			<xs:enumeration value="helicopter"/>
			<xs:enumeration value="supply boat"/>
			<xs:enumeration value="truck"/>
			<xs:enumeration value="crew vehicle"/>
			<xs:enumeration value="tug boat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="OpsReport" type="witsml:OpsReport" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="OpsReport">
		<xs:annotation>
			<xs:documentation>The opsReport object is used to capture a daily drilling report focused on reporting from the service company to the operator. See the drillReport for a similar object whose focus is operator to partner or to governmental agency. This object is uniquely identified within the context of one wellbore object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="ConditionHole" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hole condition description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CostDay" type="witsml:Cost" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Daily Cost.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CostDayMud" type="witsml:Cost" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Daily Mud Cost.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiaCsgLast" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Diameter of last casing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiaHole" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hole diameter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistDrill" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance drilled since last report.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistDrillRot" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance drilled - rotating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistDrillSlid" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance drilled - sliding.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistHold" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance covered while holding angle with a steerable drilling assembly.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistReam" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance reamed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DistSteering" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Distance covered while actively steering with a steerable drilling assembly.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTim" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time the information is related to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Engineer" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nae of Engineer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimCirc" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent circulating from start of bit run.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimDrill" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Drilling time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimDrillRot" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent rotary drilling for report interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimDrillSlid" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent slide drilling from start of bit run.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimHold" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent with no DD work (commonly in hours).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimLoc" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time rig on location (commonly in days).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimReam" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent reaming from start of bit run.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimSpud" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time since bit broke ground (commonly in days).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimStart" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time from start of Operations (commonly in days).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimSteering" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time spent steering bottom hole assembly (commonly in hours).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Forecast24Hr" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Forecast for next 24 hrs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geologist" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of operator wellsite geologist.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Lithology" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Lithology for the Interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Maasp" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum allowable shut-in casing pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdCsgLast" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of last casing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdPlanned" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of plan for this day number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdReport" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Wellbore Measured Depth.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameFormation" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumAFE" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>AFE (authorization for expenditure) number that this cost item applies to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumContract" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of contractor personnel on board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumOperator" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of Operator personnel on board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumPob" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Total number of personnel on board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumService" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of service company personnel on board.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresKickTol" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kick tolerance pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresLotEmw" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Leak off test equivalent mud weight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rig" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A pointer to the rig utilized in this reporting period.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RopAv" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average Rate of Penetration through Interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RopCurrent" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rate of penetration at report time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatusCurrent" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Current status description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sum24Hr" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>24 hour summary description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Supervisor" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of operator rig supervisor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Tubular" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A pointer to the tubular (assembly) used in this report period.
This represents a foreign key to tubular.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdCsgLast" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of last casing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdLot" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of leak off test point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdReport" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Wellbore True Vertical Depth.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolKickTol" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Kick tolerance volume.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RigResponse" type="witsml:RigResponse" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ShakerOp" type="witsml:ShakerOp" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Hse" type="witsml:Hse" minOccurs="0" maxOccurs="1"/>
					<xs:element name="SupportCraft" type="witsml:SupportCraft" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Weather" type="witsml:Weather" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="MudInventory" type="witsml:Inventory" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MudVolume" type="witsml:MudVolume" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Personnel" type="witsml:Personnel" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Activity" type="witsml:DrillActivity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="DrillingParams" type="witsml:DrillingParams" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WbGeometry" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DayCost" type="witsml:DayCost" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="TrajectoryStation" type="witsml:TrajectoryStation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Fluid" type="witsml:Fluid" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Scr" type="witsml:Scr" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="BulkInventory" type="witsml:Inventory" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PitVolume" type="witsml:PitVolume" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PumpOp" type="witsml:PumpOp" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DayCost">
		<xs:annotation>
			<xs:documentation>WITSML - Day Cost Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumAFE" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>AFE number that this cost item applies to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostGroup" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost group code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostClass" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost class code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCode" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostSubCode" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost subcode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostItemDescription" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of cost item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemKind" type="eml:UomEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The kind of cost item specified (e.g., rig dayrate, joints casing).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemSize" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Size of one cost item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyItem" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of cost items used that day e.g. 1 rig dayrate, 30 joints casing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumInvoice" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Invoice number for cost item, bill sent to Operator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPO" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Purchase order number, provided by Operator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumTicket" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Field Ticket number, issued by service company on location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCarryOver" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is this item carried from day to day?
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsRental" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is this item a rental?
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the item.
A serial number is a type of identification tag however
some tags contain many pieces of information.
This structure just identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumSerial" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serial number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameVendor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of vendor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumVendor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pool" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of pool/reservoir that this cost item can be accounted to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Estimated" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is this an estimated cost?
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostAmount" type="witsml:Cost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost for the item for this record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostPerItem" type="witsml:Cost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost per cost item, assume same currency.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of DayCost</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Scr">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Slow Circulation Rates (SCR) Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pump" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a pointer to the corresponding pump on the rig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeScr" type="witsml:ScrType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of slow circulation rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateStroke" type="eml:AngularVelocityMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump stroke rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresRecorded" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Recorded pump pressure for the stroke rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdBit" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Along hole measured depth of measurement from the drill datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Scr</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ScrType">
		<xs:annotation>
			<xs:documentation>Type of slow circulation rate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="string annulus"/>
			<xs:enumeration value="string kill line"/>
			<xs:enumeration value="string choke line"/>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation>The value is not known. This value should not be used
in normal situations. All reasonable attempts should be made to determine
the appropriate value. Use of this value may result in rejection in some situations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PitVolume">
		<xs:annotation>
			<xs:documentation>WITSML - Pit Volume Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pit" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a pointer to the corresponding pit on the rig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolPit" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of fluid in pit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensFluid" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Density of fluid in pit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescFluid" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisFunnel" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Funnel viscosity in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of PitVolume</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MudVolume">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Mud Volume Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VolTotMudStart" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume of mud at start of report interval (including pits and hole).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudDumped" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud dumped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudReceived" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud received from mud warehouse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudReturned" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud returned to mud warehouse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudBuilt" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud built.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudString" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud contained within active string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudCasing" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud contained in casing annulus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud contained in open hole annulus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudRiser" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud contained in riser section annulus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolTotMudEnd" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume of mud at the end of the report interval (including pits and hole).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MudLosses" type="witsml:MudLosses" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MudLosses">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Mud Losses Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VolLostShakerSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud lost at shakers (at surface).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostMudCleanerSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud lost in mud cleaning equipment (at surface).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostPitsSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud lost in pit room (at surface).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostTrippingSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of mud lost while tripping (at surface).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostOtherSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface volume lost other location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolTotMudLostSurf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume of mud lost at surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostCircHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole while circulating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostCsgHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole while running casing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostCmtHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole while cementing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostBhdCsgHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole behind casing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostAbandonHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole during abandonment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolLostOtherHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud volume lost downhole from other location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolTotMudLostHole" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume of mud lost downhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Inventory">
		<xs:annotation>
			<xs:documentation>WITSML - Inventory Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name or type of inventory item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyStart" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start quantity for report interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyAdjustment" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Daily quantity adjustment/correction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyReceived" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity received at site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyReturned" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity returned to base from site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyUsed" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity used for the report period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QtyOnLocation" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount of item remaining on location after all adjustments
for the report interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostItem" type="witsml:Cost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cost for the product for the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PricePerUnit" type="witsml:Cost" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Price per item unit, assume same currency for all items.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Choice Placeholder in Inventory</xs:documentation>
				</xs:annotation>
				<xs:element name="ItemWtPerUnit" type="eml:MassMeasure" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Weight per item unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ItemVolPerUnit" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Volume per item unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Inventory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RigResponse">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Rig Response Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RigHeading" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Direction, relative to true north, to which the rig is facing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RigHeave" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum amplitude of the vertical motion of the rig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RigPitchAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measure of the fore-aft rotational movement of the rig due the combined 
effects of wind and waves; measured as the angle from horizontal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RigRollAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measure of the side-to-side rotational movement of the rig due the combined 
effects of wind and waves; measured as the angle from vertical</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiserAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angle of the marine riser with the vertical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiserDirection" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Direction of the marine riser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RiserTension" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tension of the marine riser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableDeckLoad" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current temporary load on the rig deck.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalDeckLoad" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total deck load.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuideBaseAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Direction of the guide base.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BallJointAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Angle between riser and blow out preventer at the flex joint.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BallJointDirection" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Direction of the ball joint.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffsetRig" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Horizontal displacement of the rig relative to the wellhead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadLeg1" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Load carried by leg of jackup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadLeg2" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Load carried by leg of jackup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadLeg3" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Load carried by leg of jackup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadLeg4" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Load carried by leg of jackup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PenetrationLeg1" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Penetration of leg into seabed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PenetrationLeg2" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Penetration of leg into seabed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PenetrationLeg3" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Penetration of leg into seabed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PenetrationLeg4" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Penetration of leg into seabed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DispRig" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vessel displacement (in water).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDraft" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mean draft at mid-section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnchorTension" type="witsml:IndexedObject" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AnchorAngle" type="witsml:IndexedObject" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PumpOp">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Pump Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pump" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is a pointer to the corresponding pump on the rig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOperation" type="witsml:PumpOpType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of pump operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdLiner" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Liner size.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenStroke" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stroke Length.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateStroke" type="eml:AngularVelocityMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump rate (Strokes per minute).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump pressure recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PcEfficiency" type="eml:PowerPerPowerMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump efficiency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PumpOutput" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump output (incl. for efficiency).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdBit" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Along hole measured depth of measurement from the drill datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of PumpOp</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="PumpOpType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="drilling"/>
			<xs:enumeration value="reaming"/>
			<xs:enumeration value="circulating"/>
			<xs:enumeration value="slow pump"/>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation>The value is not known. This value should not be used
in normal situations. All reasonable attempts should be made to determine
the appropriate value. Use of this value may result in rejection in some situations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ShakerOp">
		<xs:annotation>
			<xs:documentation>WITSML - Operations Shaker Component Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Shaker" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer to the shaker that is characterized by this report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdHole" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hole measured depth at time of measurement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the information is related to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoursRun" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hours run for this operation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PcScreenCovered" type="eml:AreaPerAreaMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percent of screen covered by cuttings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShakerScreen" type="witsml:ShakerScreen" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of ShakerOp</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
