doc/Standards/DataSchema/Witsml_v2.0/energyml/data/witsml/v2.0/xsd_schemas/StimJob.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Stimulation job information that supports the WITSML standard.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="StimJobStage.xsd"/>
	<xs:include schemaLocation="Log.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:complexType name="StimMaterialCatalog">
		<xs:sequence>
			<xs:element name="Additives" type="witsml:StimAdditive" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProppantAgents" type="witsml:StimProppantAgent" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimProppantAgent">
		<xs:annotation>
			<xs:documentation>Schema of stimulation jobs proppants.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:StimMaterial">
				<xs:sequence>
					<xs:element name="FrictionCoefficientLaminar" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Laminar Flow Friction Coefficient.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MassAbsorptionCoefficient" type="eml:AreaPerMassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Characterizes how easily radiation passes through a material. This can be used to compute the concentration of proppant in a slurry using a densitometer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrictionCoefficientTurbulent" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Turbulent Flow Friction Coefficient.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeshSizeHigh" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>High value of Sieve mesh size - for 40/70 Sand, this value would be 70.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeshSizeLow" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Low value of Sieve mesh size - for 40/70 Sand, this value would be 40.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnconfinedCompressiveStrength" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unconfined compressive strength of the proppant.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProppantAgentKind" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Proppant type or Function.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISO13503_2Properties" type="witsml:StimISO13503_2Properties" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ISO13503_5Point" type="witsml:StimISO13503_5Point" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StimAdditive">
		<xs:annotation>
			<xs:documentation>Stimulation Additive Schema</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:StimMaterial">
				<xs:sequence>
					<xs:element name="AdditiveKind" type="witsml:StimAdditiveKind" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Additive type or function from the enumeration 'StimAdditiveKind'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="eml:String2000" minOccurs="1" maxOccurs="1"/>
					<xs:element name="SupplierCode" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A code used to identify the supplier of the additive.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StimISO13503_2Properties">
		<xs:annotation>
			<xs:documentation>ISO13503-2 Properties</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AbsoluteDensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Absolute density is the density the material would have if no intra-granular porosity is present. (e.g. Boyle’s Law porosimetry)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClustersPercent" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentage of undesirable agglomerated discrete proppant particles which typically occurs more with inefficiently processed natural sand proppants as opposed to manufactured ceramic proppants. ISO 13503-2 and API RP19C limit the mass of clusters to less than 1%.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KValue" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Crush test classification indicating the highest stress level at which a proppant generated no more than 10% crushed material rounded down to the nearest 1,000 psi during a crush test. For example, a value of 14 means ‘14K’ which is 14000 psi.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanParticleDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The mean diameter of particles in a sample of proppant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MedianParticleDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The median diameter of particles in a sample of proppant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecificGravity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Not formally part of ISO 13503 .2 properties, the specific gravity is the Apparent Density of the Proppant divided by the Density of Water.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roundness" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Krumbein Roundness Shape Factor that is a measure of the relative sharpness of grain corners or of grain curvature. Krumbein and Sloss (1963) are the most widely used method of determining shape factors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcidSolubility" type="eml:MassPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The solubility of a proppant in 12:3 HCl:HF for 30 minutes at 150°F is an indication of the amount of soluble materials (i.e. carbonates, feldspars, iron oxides, clays, etc) present in the proppant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApparentDensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Apparent Density excludes extra-granular porosity by placing a known mass in a volume of fluid and determining how much of the fluid is displaced (Archimedes).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BulkDensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bulk Density includes both the proppant and the porosity. This is measured by filling a known volume with dry proppant and measuring the weight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LossOnIgnition" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A mass loss (gravimetric) test method applied to coated proppants only, which determines the mass of resin coating applied to a natural sand or manufactured proppant by means of thorough combustion of the flammable resin from the nonflammable proppant. Reported as a % of original mass.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sphericity" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Krumbein Sphericity Shape Factor that is a measure of how closely a proppant particle approaches the shape of a sphere. Krumbein and Sloss (1963) are the most widely used method of determining shape factors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Turbidity" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Turbidity is a measure of water clarity how much the material suspended in water decreases the passage of light through the water.

Unit of measure may be Nephelometric Turbidity Unit (NTU), but may vary based upon the detector geometry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CrushTestData" type="witsml:ISO13503_2CrushTestData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SieveAnalysisData" type="witsml:ISO13503_2SieveAnalysisData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:complexType name="ISO13503_2CrushTestData">
		<xs:annotation>
			<xs:documentation>Crush Test Data Point</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fines" type="eml:MassPerMassMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mass percentage of fines after being exposed to stress.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stress" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stress measured at a point during a crush test.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:simpleType name="ProppantAgentKind">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="ceramic"/>
			<xs:enumeration value="resin coated ceramic"/>
			<xs:enumeration value="resin coated sand"/>
			<xs:enumeration value="sand"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StimFluidSubType">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="acid"/>
			<xs:enumeration value="base"/>
			<xs:enumeration value="carbon dioxide"/>
			<xs:enumeration value="carbon dioxide and nitrogen"/>
			<xs:enumeration value="carbon dioxide and water"/>
			<xs:enumeration value="condensate"/>
			<xs:enumeration value="cross-linked gel"/>
			<xs:enumeration value="crude oil"/>
			<xs:enumeration value="diesel"/>
			<xs:enumeration value="foam"/>
			<xs:enumeration value="fracturing oil"/>
			<xs:enumeration value="fresh water"/>
			<xs:enumeration value="gelled acid"/>
			<xs:enumeration value="gelled condensate"/>
			<xs:enumeration value="gelled crude"/>
			<xs:enumeration value="gelled diesel"/>
			<xs:enumeration value="gelled oil"/>
			<xs:enumeration value="gelled salt water"/>
			<xs:enumeration value="hot condensate"/>
			<xs:enumeration value="hot fresh water"/>
			<xs:enumeration value="hot oil"/>
			<xs:enumeration value="hot salt water"/>
			<xs:enumeration value="hybrid"/>
			<xs:enumeration value="linear gel"/>
			<xs:enumeration value="liquefied petroleum gas"/>
			<xs:enumeration value="nitrogen"/>
			<xs:enumeration value="oil"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="produced water"/>
			<xs:enumeration value="salt water"/>
			<xs:enumeration value="slick water"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StimPerforationClusterSet">
		<xs:sequence>
			<xs:element name="StimPerforationCluster" type="witsml:StimPerforationCluster" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StimMaterialKind">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="additive"/>
			<xs:enumeration value="brine"/>
			<xs:enumeration value="CO2"/>
			<xs:enumeration value="gel"/>
			<xs:enumeration value="N2"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="proppant agent"/>
			<xs:enumeration value="water"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StimISO13503_5Point">
		<xs:annotation>
			<xs:documentation>A Stress, Conductivity, Permeability, and Temperature data point.

TODO: Fix unit on Conductivity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Conductivity" type="eml:ElectricConductivityMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Conductivity under Stress.

TODO: Fix Unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Temperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The temperature at the time measurements were taken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Permeability" type="eml:PermeabilityRockMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The permeability under Stress.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stress" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The amount of stress applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:element name="StimJob" type="witsml:StimJob" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StimJob">
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="AvgJobPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average pressure encountered during treatment of all stages.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BottomholeStaticTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bottomhole static temperature for the job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommonData" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A container element that contains elements that are common to all data 	objects.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomerName" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Customer or company name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimArrival" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time at which the stimulation contractor arrives on location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ending date and time of stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Start date and time of the stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowBackPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pressure recorded on fluid returning to surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowBackRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rate recorded on fluid returning to surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowBackVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume recorded on fluid returning to surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidEfficiency" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Percentage of fluid volume in the fracture at the end of pumping.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpOrdered" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hydraulic horsepower ordered for the stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpUsed" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hydraulic horsepower actually used for the stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobPerforationClusters" type="witsml:StimPerforationClusterSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Kind" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type of well stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Materials" type="witsml:StimMaterialCatalog" minOccurs="0" maxOccurs="1"/>
					<xs:element name="MaxFluidRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum job fluid pumping rate encountered during treatment of all stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxJobPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum pressure encountered during the job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PIDXCommodityCode" type="witsml:PIDXCommodityCode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>UNSPSC(Segment 71) Commodity Code from Oil and gas extraction and production enhancement services family.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceCompany" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of the well stimulation contractor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StageCount" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of stages treated during the stimulation service.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Supervisor" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of service company supervisor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalJobVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Total volume pumped for all stages.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalProppantInFormation" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The mass of proppant placed in the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalProppantUsed" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>{Get this from WITSML 1.4.1.1, which Clinton removed.}</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalPumpTime" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The total pumping time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TreatingBottomholeTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expected or calculated bottomhole treating temperature for the job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Stage" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A stage treated during the stimulation job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaterialUsed" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MaterialCatalog" type="witsml:StimMaterialCatalog" minOccurs="1" maxOccurs="1"/>
					<xs:element name="LogCatalog" type="witsml:StimJobLogCatalog" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StimPerforationCluster" type="witsml:StimPerforationCluster" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="StimPerforationCluster">
		<xs:annotation>
			<xs:documentation>Information about a set of perforations.  The assumption is that all perforations within a given set are created with the same device or method.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdPerforatedInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depths of the top and base perforation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdPerforatedInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of the top and base perforation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The type of perforation and/or how the perforation was created.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PerforationCount" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The number of perforations in this interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Size" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The size of the perforations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DensityPerforation" type="eml:ReciprocalLengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The number of perforation holes per length across the treatment interval. 
					Used to describe but not limited to the configuration of perforating guns or the placement 
					of perforations (holes, slots, openings ...) in the wellbore, and is often 
					abbreviated to spf (shots per foot).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PhasingPerforation" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The radial distribution of successive perforations around the wellbore axis. 
					Radial distribution is commonly available in 0, 180 120, 90 and 60 degree phasing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrictionFactor" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The friction factor of each perforation set.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrictionPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The friction pressure for the perforation set.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DischargeCoefficient" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A coefficient used in the equation for calculation of pressure drop across a perforation set.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StimMaterialQuantity">
		<xs:annotation>
			<xs:documentation>Stimulation material used. The unit of measure  for this amount is found on the StimMaterial class.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amount" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The quantity of material used.  The unit of measure is specified within the material referenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialReference" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Material ID - equal to AbstractStimMaterial.RefId

This is a reference to the uuid of the stim material in the material catalog</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:complexType name="StimMaterial">
		<xs:sequence>
			<xs:element name="Kind" type="witsml:StimMaterialKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The material kind...
Additive,
Proppant,
CO2,
N2,
Gel,
Water,
Brine,
Other</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supplier" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the material supplier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitOfMeasure" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The unit of measure for an amount of the material.  For example, "lbs", "liters", "grams", "gallons", etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:simpleType name="PIDXCommodityCode">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="71131001"/>
			<xs:enumeration value="71131002"/>
			<xs:enumeration value="71131003"/>
			<xs:enumeration value="71131004"/>
			<xs:enumeration value="71131005"/>
			<xs:enumeration value="71131006"/>
			<xs:enumeration value="71131007"/>
			<xs:enumeration value="71131008"/>
			<xs:enumeration value="71131009"/>
			<xs:enumeration value="71131010"/>
			<xs:enumeration value="71131011"/>
			<xs:enumeration value="71131012"/>
			<xs:enumeration value="71131013"/>
			<xs:enumeration value="71131014"/>
			<xs:enumeration value="71131015"/>
			<xs:enumeration value="71131016"/>
			<xs:enumeration value="71131018"/>
			<xs:enumeration value="71131019"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StimFluidKind">
		<xs:annotation>
			<xs:documentation>The fluid type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="acid-based">
				<xs:annotation>
					<xs:documentation>A fluid in which the primary fluid medium of 
mixing and transport is acidic (substance which reacts with a base; 
aqueous acids have a pH less than 7).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas">
				<xs:annotation>
					<xs:documentation>A carrier medium in which gas is the primary medium 
of mixing and transport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil-based">
				<xs:annotation>
					<xs:documentation>A fluid in which oil is the primary fluid medium 
of mixing and transport.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water-based"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StimFluid">
		<xs:annotation>
			<xs:documentation>This is the characteristics and recipe of the stimulation fluid without proppant.

The recipe is described as a concentration where the denominator is a nominal volume (from the ConcentrationVolume element) and the numerator is in the AdditiveConcentration. The ConcentrationVolume is completely independent of the actual volume pumped in the step, and is likely to be something like 1 gal or 100 gal, while the total amount pumped (the Volume element) will be a much larger number.

The value of AdditiveConcentration is the amount of the additive appropriate to the concentration volume, not the actual amount used in the step. So a value of 5 in AdditiveConcentration related to 100 gal in ConcentrationVolume means a concentration of 5 per 100 gal of that additive.

The unit of measure for the additive is found via StimMaterialQuantity in the MaterialCatalog under the specific material pointed to by MaterialReference. So for some additives, the concentration would be 5 lbm/100 gal while another might be 5 pints/100 gal, whichever is appropriate.

The total amount of the additive used is in the StimJobStep element MaterialUsed. That amount is the one appropriate for the total volume of fluid pumped.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConcentrationVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume used to compute the concentration of added fluids with. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="witsml:StimFluidKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fluid types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subtype" type="witsml:StimFluidSubType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fluid subtypes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Density" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidTemp" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The temperature of the fluid at surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GelStrength10Min" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The shear stress measured at low shear rate after a mud has set quiescently for 10 minutes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GelStrength10Sec" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The shear stress measured at low shear rate after a mud has set quiescently for 10 seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsKillFluid" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If true, this fluid is a kill fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecificGravity" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The specific gravity of the fluid at surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Viscosity" type="eml:DynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Viscosity of stimulation fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The description of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PH" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pH of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The purpose of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supplier" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The supplier of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditiveConcentration" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimJobLogCatalog">
		<xs:annotation>
			<xs:documentation>A group of logs from a stimulation job, one log per stage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JobLog" type="eml:DataObjectReference" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimJobStep">
		<xs:annotation>
			<xs:documentation>A step in the treatment of a stage for a stimulation job.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AvgBaseFluidQuality" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base quality percentage of foam.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgCO2BaseFluidQuality" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base quality carbon dioxide percent of foam.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgHydraulicPower" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average hydraulic horse power used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgInternalPhaseFraction" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal Gas Phase percentage of foam.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgMaterialUsedPerMinute" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Average material user per minute entering the flow stream.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgMaterialUsePerMinuteBottomhole" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Average material amount used (pumped) per minute at bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgN2BaseFluidQuality" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base quality nitrogen percentage of foam.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgPresBottomhole" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average bottomhole pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgPresSurface" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average surface pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgPropConc" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average proppant concentration at the wellhead.

PPA (pounds proppant added per volume measure)
kgpa (kilograms proppant added per volume measure)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The average proppant concentration bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The average proppant concentration at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgSlurryPropConc" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average proppant concentration exiting equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgSlurryRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AvgTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average fluid temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgVolumePerMinuteWellhead" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average volume per minute at the wellhead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BallsRecovered" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Balls recovered during execution of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BallsUsed" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Balls used during execution of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseFluidBypassVol" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base fluid volume recorded after equipment set to bypass.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseFluidVol" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base fluid volume entering equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A short description of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date time of end of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date time of start of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDirtyMaterialPerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ending dirty fluid pump volume per minute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndMaterialUsedPerMinute" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ending quantity of material used per minute entering the flow stream.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndMaterialUsedPerMinuteBottomhole" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ending quantity of material used per minute at bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPresBottomhole" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Final bottomhole pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPresSurface" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Final surface pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The final proppant concentration bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The final proppant concentration at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndRateSurfaceCO2" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Final CO2 pump rate in volume per time at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndStdRateSurfaceN2" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Final nitrogen pump rate in volume per time at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolBase" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The step volume of the base step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolCirculated" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid volume circulated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolPumped" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid volume pumped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolReturned" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid volume returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolSlurry" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume of the slurry (dirty) step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolSqueezed" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid volume squeezed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidVolWashed" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid volume washed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureGradientFinal" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fracture gradient at the end time of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureGradientInitial" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fracture gradient prior at the start time of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionFactor" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numeric value used to scale a calculated rheological friction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxHydraulicPower" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxPresSurface" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pumping pressure on surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MaxProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum proppant concentration at the wellhead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxSlurryPropConc" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum proppant concentration exiting equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxVolumePerMinuteWellhead" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum volume per minute at the wellhead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A human readable name for the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="eml:PositiveLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Step number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PipeFrictionPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The friction pressure contribution from pipes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PumpTime" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total pumping time for the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDirtyMaterialPerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Starting dirty fluid volume per minute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartMaterialUsedPerMinute" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Starting quantity of material used per minute entering the flow stream.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartMaterialUsedPerMinuteBottomHole" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Starting quantity of material used per minute at bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPresBottomhole" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Starting bottomhole pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartPresSurface" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Starting surface pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The beginning proppant concentration bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The beginning proppant concentration at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellheadVol" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Slurry volume entering the well.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialUsed" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Material used during the step</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxMaterialUsedPerMinute" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Fluid" type="witsml:StimFluid" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:complexType name="ISO13503_2SieveAnalysisData">
		<xs:sequence>
			<xs:element name="PercentRetained" type="eml:MassPerMassMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The percentage of mass retained in sieve.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SieveNumber" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ASTM US Standard mesh opening size used in Sieve analysis test.  Use ‘0’ to indicate ‘Pan’.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64"/>
	</xs:complexType>
	<xs:simpleType name="StimAdditiveKind">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="acid"/>
			<xs:enumeration value="activator"/>
			<xs:enumeration value="biocide"/>
			<xs:enumeration value="breaker"/>
			<xs:enumeration value="breaker aid"/>
			<xs:enumeration value="buffer"/>
			<xs:enumeration value="clay stabilizer"/>
			<xs:enumeration value="corrosion inhibitor"/>
			<xs:enumeration value="corrosion inhibitor aid"/>
			<xs:enumeration value="crosslinker"/>
			<xs:enumeration value="delaying agent"/>
			<xs:enumeration value="fibers"/>
			<xs:enumeration value="fluid loss additive"/>
			<xs:enumeration value="foamer"/>
			<xs:enumeration value="friction reducer"/>
			<xs:enumeration value="gelling agent"/>
			<xs:enumeration value="iron control additive"/>
			<xs:enumeration value="mutual solvent"/>
			<xs:enumeration value="salt"/>
			<xs:enumeration value="stabilizer"/>
			<xs:enumeration value="surfactant"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
