doc/Standards/DataSchema/Witsml_v2.0/energyml/data/witsml/v2.0/xsd_schemas/StimJobStage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<xs:include schemaLocation="StimJob.xsd"/>
	<xs:include schemaLocation="Log.xsd"/>
	<xs:complexType name="StimShutInPressure">
		<xs:annotation>
			<xs:documentation>A pressure measurement taken a certain time after the well has been shut in.  This object is intended to be used with the performance enhancement schemas.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The shut in pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeAfterShutin" type="eml:TimeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time span after shutin at which the pressure was measured.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimJobDiagnosticSession">
		<xs:annotation>
			<xs:documentation>A pumping diagnostics session.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of this pumping diagnostics session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A description of the session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChokeSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The size of the choke used during flow back test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimPumpOn" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time pumping began.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimPumpOff" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time pumping ended.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PumpDuration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time between the shutin time and the pump on time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimWellShutin" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time at which a well ceases flowing and the valves are closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimFractureClose" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time when the fluid in the fracture is completely leaked off 
					into the formation and the fracture closes on its faces.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgBottomholeTreatmentPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average bottomhole treatment pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgBottomholeTreatmentRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average bottomhole treatment flow rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseFluidVol" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Base fluid volume entering equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomholeHydrostaticPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bottomhole hydrostatic pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BubblePointPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at which gas begins to break out of an under saturated oil and form a 
					free gas phase in the matrix or a gas cap.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidDensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of the fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureClosePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure when the fracture width becomes zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure loss due to fluid friction with the pipe while a fluid is being pumped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialShutinPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Initial shutin pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure of the liquids in the formation pores.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellboreVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume of fluid in the wellbore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdSurface" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth of the wellbore to its injection point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdBottomhole" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth of the bottom of the hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdMidPerforation" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth of the middle perforation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdMidPerforation" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The true vertical depth of the middle perforation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The constant earth temperature at a given depth specific to a region.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomholeTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Static bottomhole temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceFluidTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Temperature of the fluid at the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidCompressibility" type="eml:IsothermalCompressibilityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume change of a fluid when pressure is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservoirTotalCompressibility" type="eml:IsothermalCompressibilityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume change of a reservoir material when pressure is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidNprimeFactor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Power law component. As n decreases from 1, the fluid becomes more shear thinning. 
					Reducing n produces more non-Newtonian behavior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidKprimeFactor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The consistency index K is the shear stress or viscosity of the fluid at one sec-1 shear rate.
					An increasing K raises the effective viscosity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidSpecificHeat" type="eml:SpecificHeatCapacityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The heat required to raise one unit mass of a substance by one degree.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidThermalConductivity" type="eml:ThermalConductivityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>In physics, thermal conductivity is the property of a material describing its ability to conduct heat. 
					It appears primarily in Fourier's Law for heat conduction. Thermal conductivity is measured in watts per kelvin-meter. 
					Multiplied by a temperature difference (in kelvins) and an area (in square meters), and divided by a 
					thickness (in meters), the thermal conductivity predicts the rate of energy loss (in watts) through a piece of material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidThermalExpansionCoefficient" type="eml:VolumetricThermalExpansionMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dimensional response to temperature change is expressed by its coefficient of thermal expansion.
					When the temperature of a substance changes, the energy that is stored in the intermolecular bonds 
					between atoms changes. When the stored energy increases, so does the length of the molecular bonds. 
					As a result, solids typically expand in response to heating and contract on cooling. 
					The degree of expansion divided by the change in temperature is called the material's coefficient 
					of thermal expansion and generally varies with temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidEfficiency" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A measurement, derived from a data frac, of the efficiency
					of a particular fluid in creating fracture area on a particular formation at a set of conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FoamQuality" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foam quality percentage of foam for the job during the stimulation services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentPad" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume of the pad divided by the (volume of the pad + the volume of the proppant laden fluid).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageNumber" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of a stage associated with this diagnostics session.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemperatureCorrectionApplied" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are the calculations corrected for temperature.
					A value of "true" (or "1") indicates that the calculations were corrected for temperature. 
					A value of "false" (or "0") or not given indicates otherwise.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidEfficiencyTest" type="witsml:StimFetTest" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A diagnostic test determining fluid efficiency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepDownTest" type="witsml:StimStepDownTest" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An injection test involving multiple steps of injection rate and pressure, where a curve deflection and
					change of slope indicates the fracture breakdown pressure.
An injection test involving multiple steps of injection rate and pressure, where a curve deflection and
					change of slope indicates the fracture breakdown pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StepRateTest" type="witsml:StimStepTest" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An injection test, plotted pressure against injection rate, where a curve deflection and
					change of slope indicates the fracture breakdown pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PumpFlowBackTest" type="witsml:StimPumpFlowBackTest" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A diagnostic test involving flowing a well back after treatment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimStepDownTest">
		<xs:annotation>
			<xs:documentation>Diagnostic test involving flowing a well back after treatment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InitialShutinPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The initial shutin pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomholeFluidDensity" type="eml:PermeabilityRockMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of the fluid at the bottom of the hole adjusting for bottomhole 
					temperature and pressure during the step test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterEntryHole" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Diameter of the injection point or perforation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationCount" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of perforations in the interval being tested.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DischargeCoefficient" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A coefficient used in the equation for calculation of pressure 
					drop across a perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectivePerfs" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of perforations in the interval being tested calculated 
					to be open to injection determined during the step down test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Step" type="witsml:StimTestStep" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The data related to a particular step in the step down test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimPressureFlowRate">
		<xs:annotation>
			<xs:documentation>In an injection step test, the injection rate at a particular pressure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure of the step test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomholeRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The flow of the fluid at the bottomhole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimEvent">
		<xs:annotation>
			<xs:documentation>WITSML - event log for stimulation jobs.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="eml:PositiveLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Event number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date time of this event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A short description of the event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumStep" type="eml:PositiveLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Step number - use to reference an existing job step entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimTubular">
		<xs:annotation>
			<xs:documentation>In a production enhancement job, this item constitutes the data for a tubular in the hole.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of tubular (e.g., casing, tubing, liner, packer, open hole, other).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The inside diameter of the tubular used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Od" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The outside diameter of the tubular used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Weight" type="eml:MassPerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The weight per length of the tubular.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TubularMdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval over which the tubular was used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TubularTvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True vertical depth interval over which the tubular was used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolumeFactor" type="eml:VolumePerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume per length of the tubular.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimPumpFlowBackTest">
		<xs:annotation>
			<xs:documentation>Diagnostic test involving flowing a well back after treatment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start time for the test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowBackVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume recovered during flow back test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start time for the test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureCloseDuration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time required for the fracture width to become zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCasing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Casing pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresTubing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tubing pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureClosePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure when the fracture width becomes zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Step" type="witsml:StimTestStep" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimFlowPath">
		<xs:annotation>
			<xs:documentation>WITSML - the flow path for a well stimulation job.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AvgPmaxPacPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PMax prediction allows the tool assembly to be designed with expected
					pressures.  It determines maximum allowable surface pressure and is typically calculated
					as a single number by which the pressure relief valves are set. This variable is the average
					of all the pmax pressures calculated for this flow path.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionFactorOpenHole" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The friction factor used to compute open hole pressure loss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgPmaxWeaklinkPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average allowable pressure for the zone of interest with respect 
					to the bottomhole assembly during the stimulation services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BreakDownPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at which the formation broke.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BridgePlugMD" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth of a bridge plug.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureGradient" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The formation fracture gradient for this treatment interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of flow path.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxPmaxPacPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PMax prediction allows the tool assembly to be designed with expected pressures. It determines maximum allowable surface pressure and is typically calculated as a single number by which the pressure relief valves are set. This variable is the maximum of all the pmax pressures calculated for this flow path. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxPmaxWeaklinkPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum allowable pressure for the zone of interest with respect to the bottomhole assembly during the stimulation services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackerMD" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth of a packer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionFactorPipe" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The friction factor for the pipe, tubing, and/or casing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TubingBottomMD" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum measured depth of the tubing used for treatment of a stage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tubular" type="witsml:StimTubular" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimTestStep">
		<xs:annotation>
			<xs:documentation>In a step down pump diagnostics test, this item contains all 
			the data for a particular step in that test.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time stamp of the pressure measurement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowbackVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of flowback since start of test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowbackVolumePerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flowback Rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="eml:NonNegativeLong" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of the step. Identifies the step within the step down test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomholeRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bottomhole flow rate for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface pressure measured for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PipeFriction" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calculated pipe friction for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntryFriction" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calculated entry friction accounting for perforation and near 
					wellbore restrictions for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerfFriction" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calculated perforation friction for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearWellboreFriction" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calculated Near WellBore friction loss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceRate" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface rate entering the well for the specific step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StimJobDiversionMethod">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="ball sealer"/>
			<xs:enumeration value="bands"/>
			<xs:enumeration value="chemical"/>
			<xs:enumeration value="fibers"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="packer"/>
			<xs:enumeration value="solid particle"/>
			<xs:enumeration value="straddle packer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StimJobDiversion">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Contractor" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the diversion contractor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Method" type="witsml:StimJobDiversionMethod" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The diversion method used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToolDescription" type="eml:String2000" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ElementSpacing" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="obj_StimJobStage">
		<xs:annotation>
			<xs:documentation>Stage treated during a stimulation job.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Number" type="eml:PositiveLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The number associated with the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgBaseFluidReturnVolumePerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average base fluid pumping rate of all steps for stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FractureHeight" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The height of the fracture.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PercentPad" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The percentage of volume pumped used for the pad.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StagePerforationClusters" type="witsml:StimPerforationClusterSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="AvgBHStaticTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average static temperature of the wellbore injection point(s) or formation at equilibrium (steady state) with no fluid or tool movement, allowing for equilibrium conditions at the wellbore injection point; (BHST: bottom hole static temperature).
					</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgBHTreatingTemperature" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average measured or calculated temperature of the wellbore during the treating with well fluid injection or circulation of the wellbore at the point of interest. Point of interest is generally the injection point or region of interest for the test or treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgBottomholePumpedVolumePerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average bottomhole treatment flow rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgConductivity" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average conductivity of fracture created during the treatment supported by proppant during the stimulation services Hydraulic conductivity, symbolically represented as K, is a property of vascular plants, soil or rock, that describes the ease with which water can move through pore spaces or fractures. It depends on the intrinsic permeability of the material and on the degree of saturation. Saturated hydraulic conductivity, Ksat, describes water movement through saturated media.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgFractureWidth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average fracture width created during the treatment of the stage..</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgHydraulicPower" type="eml:PowerMeasure" minOccurs="1" maxOccurs="1"/>
					<xs:element name="AvgPresAnnulus" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average annulus pressure for any step for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgPresCasing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average casing pressure of any step for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgPresSurface" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average pressure for treating the stage across all steps.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgPresTubing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average tubing pressure of any step for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average proppant concentration at the bottom of the hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The average proppant concentration on the surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AvgSlurryReturnPerMinute" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average slurry return rate of all step for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BreakDownPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The pressure at which the formation fractures and accepts injected fluid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClosureDuration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Delta time recorded for the closure of the fracture to occur during the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClosurePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An analysis parameter used in hydraulic fracture design to indicate the pressure at which the fracture effectively closes without proppant in place.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ending date and time for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Starting date and time for the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormationBreakLengthPerDay" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The length of formation broken per day.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormationName" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The name of the formation being stimulated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormationProppantMass" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The weight of proppant placed in the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FractureGradientFinal" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The formation fracture gradient for the stage after treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FractureGradientInitial" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The formation fracture gradient for stage before treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FractureLength" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The length of the fracture created after treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrictionPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Friction Pressure loss.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpOrderedCO2" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Carbon dioxide hydraulic horsepower ordered for the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpOrderedFluid" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fluid hydraulic horsepower ordered for the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpUsedCO2" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Carbon dioxide hydraulic horsepower actually used for the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HhpUsedFluid" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fluid hydraulic horsepower actually used for the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialShutinPres" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The initial shut-in pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxFluidVolumePerMinuteAnnulus" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum annulus fluid pumping rate of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxFluidVolumePerMinuteCasing" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum casing fluid pumping rate of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxFluidVolumePerMinuteTubing" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum tubing fluid pumping rate of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxHydraulicPower" type="eml:PowerMeasure" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MaxPresAnnulus" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The highest annulus pressure of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxPresCasing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The highest casing pressure of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxPresSurface" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MaxPresTubing" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The highest tubing pressure of any step while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxProppantConcBottomhole" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The maximum proppant concentration at the bottom of the wellbore.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxProppantConcSurface" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The maximum proppant concentration on the surface.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdFormationBottom" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the bottom of the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdFormationTop" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the top of the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdOpenHoleBottom" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the bottom open hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdOpenHoleTop" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the top open hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NetPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The difference between the pressure which holds a fracture closed (minimal principal stress) and that pressure which is necessary to open the fracture.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpenHoleDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The diameter of the open hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpenHoleName" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A name for the open hole. To be used for open hole completions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PercentProppantPumped" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Total proppant mass used as a percent of the design mass.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PerfBallCount" type="eml:NonNegativeLong" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Total number of perforation balls used while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PerfBallSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The size of the perforation balls used while treating the stage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PerfProppantConc" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The proppant concentration at the perforations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProppantHeight" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The proppant height.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScreenedOut" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Boolean as to whether or not screen out occurred. True ("true" or "1") indicates that screen out occurred. False ("false" or "0") or not given indicates otherwise.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScreenOutPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The screen out pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TechnologyType" type="eml:String64" minOccurs="1" maxOccurs="1"/>
					<xs:element name="TotalProppantInFormation" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The total amount of proppant in formation relative to the current stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalPumpTime" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The total pumping time for the treatment of the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The total volume pumped for all steps while treating the stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdFormationBottom" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of the bottom of the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdFormationTop" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of the top of the formation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdOpenHoleBottom" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of the bottom open hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdOpenHoleTop" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of the top open hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumeBody" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The volume pumped for the body portion of the stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumeFlush" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume pumped during flush portion of stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumePad" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume pumped for pad portion of stage treatment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WaterSource" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Water source for fluid pumped during stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellboreProppantMass" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The weight of proppant left in the wellbore after pumping has stopped.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PdatSession" type="witsml:StimJobDiagnosticSession" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ShutInPres" type="witsml:StimShutInPressure" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="JobEvent" type="witsml:StimEvent" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="JobStep" type="witsml:StimJobStep" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="MaxMaterialUsagePerMinute" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="MaterialUsed" type="witsml:StimMaterialQuantity" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="FlowPath" type="witsml:StimFlowPath" minOccurs="0" maxOccurs="1"/>
					<xs:element name="StimStepLog" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ReservoirInterval" type="witsml:StimReservoirInterval" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Diversion" type="witsml:StimJobDiversion" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="StimAnalysisMethod">
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="average"/>
			<xs:enumeration value="delta pressure over g-time"/>
			<xs:enumeration value="delta pressure over linear time"/>
			<xs:enumeration value="delta pressure over radial time"/>
			<xs:enumeration value="gdk 2-d"/>
			<xs:enumeration value="horner"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="log-log"/>
			<xs:enumeration value="nolte"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="pdl coefficient"/>
			<xs:enumeration value="perkins and kern 2-d"/>
			<xs:enumeration value="radial 2-d"/>
			<xs:enumeration value="square root"/>
			<xs:enumeration value="third-party software"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StimReservoirInterval">
		<xs:annotation>
			<xs:documentation>Reservoir Interval Component Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MdLithTop" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth at top of interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdLithBottom" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth at base of interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithFormationPermeability" type="eml:PermeabilityRockMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Formation permeability, a measurement of the ability of a fluid to flow 
					through a rock. Commonly measured in milliDarcys (1m2 = 0.000000000000986923 Darcy).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithYoungsModulus" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Young's modulus (E) is a measure of the stiffness of an isotropic elastic material. It is also known
					as the Young modulus, modulus of elasticity, elastic modulus (though Young's modulus is actually one 
					of several elastic moduli such as the bulk modulus and the shear modulus) or tensile modulus. It is 
					defined as the ratio of the uniaxial stress over the uniaxial strain.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithPorePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Refers to the pressure of fluids held within a soil or rock, in gaps 
					between particles formation porosity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithNetPayThickness" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Net pay is computed. It is the thickness of rock that can deliver hydrocarbons 
					to the wellbore formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithName" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A name for the formation lithology.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdGrossPayTop" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of the top of the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdGrossPayBottom" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of the bottom of the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossPayThickness" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total thickness of the interval being treated, whether or 
					not it is productive.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayThickness" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The thickness of the most productive part of the interval. 
					Net pay is a subset of the gross.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayPorePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pore pressure of the net pay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayFluidCompressibility" type="eml:IsothermalCompressibilityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The volume change of the fluid in the net pay when pressure is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayFluidViscosity" type="eml:DynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>With respect to the net pay, a measurement of the internal resistance of a fluid to flow
					against itself. Expressed as the ratio of shear stress to shear rate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayName" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name used for the net pay zone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayFormationPermeability" type="eml:PermeabilityRockMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The permeability of the net pay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithPoissonsRatio" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ratio of the relative contraction strain, or transverse strain (normal to the applied load), 
					divided by the relative extension strain, or axial strain (in the direction of the applied load).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPayFormationPorosity" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porosity of the net pay formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormationPermeability" type="eml:PermeabilityRockMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Permeability of the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormationPorosity" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porosity of the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameFormation" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the formation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimStepTest">
		<xs:annotation>
			<xs:documentation>An injection test, plotted pressure against injection rate, where a curve deflection and change of slope indicates the fracture breakdown pressure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FractureExtensionPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure necessary to extend the fracture once initiated. 
					The fracture extension pressure may rise slightly with increasing fracture length and/or 
					height because of friction pressure drop down the length of the fracture.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresMeasurement" type="witsml:StimPressureFlowRate" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A pressure and fluid rate data reading.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StimFetTest">
		<xs:annotation>
			<xs:documentation>A diagnostic test determining fluid efficiency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnalysisMethod" type="witsml:StimAnalysisMethod" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An analysis method used for this FET test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start time for the fluid efficiency test (FET).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End time for the fluid efficiency test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndPdlDuration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end of the pressure dependent leakoff portion of the fluid efficiency test.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidEfficiency" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A measurement, derived from a data frac, of the efficiency
					of a particular fluid in creating fracture area on a particular formation at a set of conditions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureCloseDuration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time at which the fracture effectively closes without proppant in place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureClosePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure at which the fracture effectively closes without proppant in place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureExtensionPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fracture pressure limit for an unfractured formation is the fracture initiation pressure.
					This is typically considered the upper bound for the minimum horizontal stress or closure pressure.
					A step rate test is used to determine the fracture extension pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureGradient" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The fracture gradient.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureLength" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fracture length is the length of the fracture tip to tip; fracture half length, 
					the length of one wing of a fracture from the wellbore to the tip.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FractureWidth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The width of a fracture at the wellbore. Hydraulic frac width is 
					generated by frac fluid viscosity and/or pump rate (i.e., horsepower).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The difference between the fracture extension pressure and the pressure that 
					exists in the fracture.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PdlCoef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure dependent leakoff coefficient.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorePres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pressure of the liquids in the formation pores.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PseudoRadialPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Horner plot is used to determine if pseudo-radial flow developed during pressure decline. 
					If a semi-log straight line is observed and the line can be extrapolated to a reasonable value
					of reservoir pressure, radial or pseudo-radial flow may be affecting the decline behavior. 
					This suggests that the fracture is already closed and that data beyond the point of influence 
					need not be considered in the evaluation of closure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidualPermeability" type="eml:PermeabilityRockMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>That permeability which remains after a fractured formation has closed, allowing the 
					the formation fracture face to be pressurized before the fracture is mechanically reopened.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	</xs:schema>
