doc/Standards/DataSchema/Witsml_v2.0/energyml/data/witsml/v2.0/xsd_schemas/ToolErrorTermSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>ToolErrorTermSet Schema</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="ToolErrorModel.xsd"/>
	<xs:complexType name="AbstractIscwsaErrorCoefficient" abstract="true">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of AbstractIscwsaErrorCoefficient</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Azi">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractIscwsaErrorCoefficient">
				<xs:sequence>
					<xs:element name="Azi" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hole azimuth. Corrected to wells azimuth reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Inc">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractIscwsaErrorCoefficient">
				<xs:sequence>
					<xs:element name="Inc" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured deviation from vertical.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Depth">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractIscwsaErrorCoefficient">
				<xs:sequence>
					<xs:element name="Depth" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The measured depth of the point.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IscwsaNomenclatureConstant">
		<xs:annotation>
			<xs:documentation>A nomenclature constant.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The value of the constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unit" type="eml:UomEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The unit of measure of the constant.
This value must match an acronym from the WITSML unit of measure dictionary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual description of the constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of IscwsaNomenclatureConstant</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IscwsaErrorTerm">
		<xs:annotation>
			<xs:documentation>WITSML - Error Term Component Schema.
The reference error terms that are included in error models via ErrorTermValues.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the unique mnemonic for this term. 
For example, "ABIX" or "DECR".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="witsml:ErrorTermSource" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The class of the error source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureClass" type="eml:MeasureClass" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The kind of quantity that the term represents.
This constrains the unit that can be used for any errorTermValues.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Label" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-readable name for the term, may be presented in 
application software. E.g., "MWD: X-Acceleromter Bias with Z-Axis Corr."</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-readable name for the term, may be presented in 
application software. E.g., "MWD: X-Acceleromter Bias with Z-Axis Corr."</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingMode" type="witsml:SurveyToolOperatingMode" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Operating mode that is valid for this error term.
In the absence of this element assume Stationary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorCoefficient" type="witsml:IscwsaErrorCoefficient" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of IscwsaErrorTerm</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ErrorTermSource">
		<xs:annotation>
			<xs:documentation>The codes for the various classes of error source.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="sensor">
				<xs:annotation>
					<xs:documentation>Errors arising from sensors in the survey tool</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="azimuth reference">
				<xs:annotation>
					<xs:documentation>Errors arising from the adoption of a particular
reference azimuth</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="magnetic">
				<xs:annotation>
					<xs:documentation>Errors arising from external magnetic field
influences</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="alignment">
				<xs:annotation>
					<xs:documentation>Errors arising from the attitude of tool
relative to borehole</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="misalignment"/>
			<xs:enumeration value="depth">
				<xs:annotation>
					<xs:documentation>Errors arising from the measurement of depth</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="reference">
				<xs:annotation>
					<xs:documentation>Errors arising from the measurement of depth</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation>The value is not known. This value should not be used
in normal situations. All reasonable attempts should be made to determine
the appropriate value. Use of this value may result in rejection in some situations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IscwsaErrorCoefficient">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AbstractIscwsaErrorCoefficient" type="witsml:AbstractIscwsaErrorCoefficient" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of IscwsaErrorCoefficient</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="ToolErrorTermSet" type="witsml:ToolErrorTermSet" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="ToolErrorTermSet">
		<xs:annotation>
			<xs:documentation>The toolErrorTermSet object is used to define a set of surveying tool error terms which may be utilized in a toolErrorModel. This object is globally unique.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Authorization" type="witsml:IscwsaAuthorizationData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Nomenclature" type="witsml:IscwsaNomenclature" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ErrorTerm" type="witsml:IscwsaErrorTerm" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IscwsaNomenclature">
		<xs:annotation>
			<xs:documentation>A nomenclature for the description of errror terms.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parameter" type="witsml:IscwsaNameAndDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Function" type="witsml:IscwsaNameAndDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Constant" type="witsml:IscwsaNomenclatureConstant" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IscwsaNameAndDescription">
		<xs:annotation>
			<xs:documentation>A generic type which captures a name and a description of something.
The semantics of the something is defined by the parent element.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual description of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of IscwsaNameAndDescription</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Tvd">
		<xs:annotation>
			<xs:documentation>Describes what survey measurement or value the error term applies to.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractIscwsaErrorCoefficient">
				<xs:sequence>
					<xs:element name="Tvd" type="eml:String2000" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The true vertical depth covered by the tool error term set</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
