doc/Standards/API/WITSML_v1.3.1_API/obj_capPublisher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	targetNamespace="http://www.witsml.org/api/131" 
	xmlns=          "http://www.witsml.org/api/131" 
	xmlns:witsml=   "http://www.witsml.org/api/131"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.3.1">
	<!--                                                         -->
	<!-- POSC License Agreement
	This file is distributed under the POSC License Agreement at
	http://www.posc.org/about/license.shtml.
	Use of this file constitutes agreement with the POSC License Agreement.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="cs_contact.xsd"/>
	<xsd:include schemaLocation="cs_function.xsd"/>
	<xsd:include schemaLocation="cs_dataTypes.xsd"/>
	<!--                                                         -->
	<xsd:annotation>
		<xsd:documentation>Defines the WITSML capPublisher object, used to communicate 
		the detailed API Capabilities of a WITSML Publisher.
		API Capabilities are used to further define and narrow the functionality 
		defined by the API specification.
		</xsd:documentation>
	</xsd:annotation>
	<!--                                                         -->
	<xsd:element name="capPublishers" type="witsml:obj_capPublishers"/>
		<xsd:annotation>
			<xsd:documentation>The WITSML API mandated plural root element which allows 
			multiple singular objects to be sent. The plural name is formed by adding
			an "s" to the singular name.
			Present only for consistency with other WITSML data objects (multiple 
			capPublisher elements are not allowed). 
			</xsd:documentation>
		</xsd:annotation>
	<!--                                                         -->
	<xsd:complexType name="obj_capPublishers">
		<xsd:sequence>
			<xsd:element name="capPublisher" type="obj_capPublisher" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="witsml:str16" fixed="1.3.1" use="optional">
			<xsd:annotation>
				<xsd:documentation>API schema version.  It is optional.
				If the version is specified, its value must be set equal to the value specified by the 
				version's fixed attribute. Note that this is different from the data schema version.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="obj_capPublisher">
		<xsd:annotation>
			<xsd:documentation>Defines the singular Publisher Capabilities data type (obj_capPublisher).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contact" type="witsml:cs_contact" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Contact information for Publisher.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="witsml:str4096" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of Publisher.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="name" type="witsml:str64" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the Publisher.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="vendor" type="witsml:str64" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Vendor of the Publisher software.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="version" type="witsml:str64" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Publisher software Executable Program version (identification only; use apiVers to determine Publisher's API Capability).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="schemaVersion" type="witsml:str64" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The data schema version that is represented by each object in "function".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="function" type="witsml:cs_function" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A WITSML data object (well, wellbore, etc) which this Publisher can publish.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="apiVers" type="witsml:str16" use="required">
			<xsd:annotation>
				<xsd:documentation>Version of the API specification to which this Publisher conforms. 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
