doc/Standards/DataSchema/Resqml_v1.1/resqml_v1.1.0_data/xsd_schemas/typ_dataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.resqml.org/schemas/1series" 
	xmlns:resqml="http://www.resqml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="RESQML_v1.1">
	<!--                                                         -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2011 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="typ_measureType.xsd"/>
	<xsd:include schemaLocation="typ_catalog.xsd"/>
	<!--                                                         -->
	<!--                                                         -->
	<!-- ================ DATE AND TIME TYPES  ================= -->
	<!--                                                         -->
	<xsd:simpleType name="timestamp" final="#all">
		<xsd:annotation>
			<xsd:documentation>A date with a time of day and a mandatory time zone offset.
			This must captute the correct date-time relative to UTC. It is not necessary to 
			use a local time zone because software may convert the date-time to a different 
			local time zone (while retaining correct date-time relative to UTC).
			See acquisitionTmeZone in commonData for the original time zone of times in an object.</xsd:documentation>
			<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-39, Change=Modified-description</xsd:appinfo>
			<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-39, Change=Modified-constraint</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value=".+T.+[Z+\-].*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- =========== uid and foreign key data types ============ -->
	<!--                                                         -->
	<xsd:simpleType name="uidString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A locally unique identifier. 
			The value is not intended to convey any semantic content (e.g., it may be computer generated). </xsd:documentation>
			<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-5, Change=Modified-description</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                     -->
	<xsd:simpleType name="refString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to the unique identifier of another element. 
			This value represents a foreign key from one element to another.
			The value should match the value of an attribute of type uidString.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                     -->
	<xsd:complexType name="refNameString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a name in another node of the xml hierachy.
			This value represents a foreign key from one element to another.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="resqml:abstractNameString">
				<xsd:attribute name="uidRef" type="resqml:refString" use="optional">
					<xsd:annotation>
						<xsd:documentation>A reference to the unique identifier (uid attribute) in the node
						referenced by the name value. 
						This attribute is required within the context of a WITSML server.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                     -->
	<xsd:simpleType name="refWellDatum" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a wellDatum in the current well. 
			This value must match the uid value in a WellDatum. 
			This value represents a foreign key from one element to another.
			This is an exception to the convention that a foreign key must utilize both 
			a human contextual name and a uid value. For messages outside the context of
			a server then this value will commonly match the value of the name of the 
			wellDatum (e.g., 'KB') if uids are not not used in that context.
			This was a compromise in order to allow the coordinate structures to be simple
			and still be usable both within the context of a server and outside the context of a server.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- =========== CONTENT SPECIFIC STRING TYPES  ============ -->
	<!--                                                         -->
	<xsd:simpleType name="nameString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A user assigned human recognizable contextual name of something. 
			There should be no assumption that (interoperable) semantic information will be extracted from the name by a third party.
			This type of value is generally not guaranteed to be unique and is not a candidate to be replaced by an enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractNameString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="commentString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A comment or remark intended for human consumption. 
			There should be no assumption that semantics can be extracted from this field by a computer. 
			Neither should there be an assumption that any two humans will interpret the information 
			in the same way (i.e., it may not be interoperable).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractCommentString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="descriptionString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A textual description of something.</xsd:documentation>
			<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-33, Change=Changed-type-from:abstractString</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractDescriptionString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="extensionvalue" final="#all">
		<xsd:annotation>
			<xsd:documentation>A extension value.
			Each standard name should document the expected maximum size. 
			Knowledge of the semantics must be provided with the context of the usage of this type.</xsd:documentation>
			<xsd:appinfo>Modified-in-version=1.4.0, By-issue=1.3.1-71 Change=Added</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
  			<xsd:extension base="resqml:abstractMaximumLengthString">
				<xsd:attribute name="uom" type="resqml:uomString" use="optional">
					<xsd:annotation>
						<xsd:documentation>The unit of measure for the value.
						This value must conform to the values allowed by a measure class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
  			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="kindString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A community assigned human recognizable name. 
			This type of value is intended to be unique and is generally a candidate to be constrained to an enumerated list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractTypeEnum">
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="uomString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A unit of measure acronym from the POSC unit of measure file.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="resqml:abstractUomEnum"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="nameStruct" final="#all">
		<xsd:annotation>
			<xsd:documentation>The name of something within a naming system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="resqml:abstractNameString">
				<xsd:attribute name="namingSystem" type="resqml:nameString" use="optional">
					<xsd:annotation>
						<xsd:documentation>The naming system within the name is (hopefully) unique.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<!-- =========== Well Based Coordinate Types  ============== -->
	<!--                                                         -->
	<xsd:complexType name="measuredDepthCoord" final="#all">
		<xsd:annotation>
			<xsd:documentation>A measured depth coordinate in a wellbore. 
			Positive moving from the reference datum toward the bottomhole.
			All coordinates with the same datum (and same uom) can be considered to be in the same 
			Coordinate Reference System and are thus directly comparable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:double">
				<xsd:attribute name="uom" type="resqml:MeasuredDepthUom" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure of the quantity value.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="datum" type="resqml:refWellDatum" use="optional">
					<xsd:annotation>
						<xsd:documentation>A pointer to the reference datum for this coordinate 
						value as defined in WellDatum. This value is assumed to match the uid
						value in a WellDatum.
						If not given then the default WellDatum must be assumed.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<!-- ========== CONTENT SPECIFIC INTEGER TYPES  ============ -->
	<!--                                                         -->
	<xsd:simpleType name="positiveCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A positive integer (one based count or index).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:short">
			<xsd:minInclusive value="1">
				<xsd:annotation>
					<xsd:documentation>This value cannot be negative or zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
</xsd:schema>
