doc/Standards/energyml/data/resqml/v1.1/resqml_v1.1.0_data/xsd_schemas/cs_resqmlRefTimeStep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.resqml.org/schemas/1series" 
	xmlns:resqml="http://www.resqml.org/schemas/1series" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="RESQML_v1.1">
	<!--                                                     -->
	<!-- Energistics License Agreement
	This file is distributed under the Energistics License Agreement at
	http://www.energistics.org
	Use of this file constitutes agreement with the Energistics License Agreement.
	Copyright (c) 2011 Energistics. All rights reserved.
	Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
	-->
	<!--                                                     -->
	<xsd:include schemaLocation="typ_dataTypesResqml.xsd"/>
	<!--                                                     -->
	<xsd:complexType name="cs_resqmlRefTimeStep">
		<xsd:annotation>
			<xsd:documentation>Points to a single timestamp within a timestep list.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="timeStepList" type="resqml:refGlobalNameString" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A pointer to a time step list.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timeIndex" type="resqml:nonNegativeShort" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The zero-based index of the timestamp within the list.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--                                                     -->
</xsd:schema>
