doc/Standards/energyml/api/witsml/v1.3.1/cs_dataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	targetNamespace="http://www.witsml.org/api/131" 
	xmlns=          "http://www.witsml.org/api/131" 
	xmlns:witsml=   "http://www.witsml.org/api/131"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.3.1">
	<!--                                                         -->
	<!-- POSC License Agreement
	This file is distributed under the POSC License Agreement at
	http://www.posc.org/about/license.shtml.
	Use of this file constitutes agreement with the POSC License Agreement.
	-->
	<!--                                                         -->
	<xsd:annotation>
		<xsd:documentation>WITSML - Data Type Definitions  </xsd:documentation>
	</xsd:annotation>
	<!--                                                         -->
	<xsd:simpleType name="str16">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="str64">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="str256">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="str4096">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="timestamp">
		<xsd:annotation>
			<xsd:documentation>A date with the time of day and a mandatory time zone.
			This type disallows an "empty" dateTime value.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value=".+T.+[Z+-].*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="logicalBoolean">
		<xsd:annotation>
			<xsd:documentation>Values of "true" (or "1") and "false" (or "0").</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value=".+">
				<xsd:annotation>
					<xsd:documentation>The value cannot be empty.</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integerCount">
		<xsd:annotation>
			<xsd:documentation>A integer that cannot be empty.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:short">
			<xsd:pattern value=".+">
				<xsd:annotation>
					<xsd:documentation>The value cannot be empty.</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- ================= ABSTRACT BASE TYPES ================= -->
	<!--                                                         -->
	<xsd:simpleType name="abstractString">
		<xsd:annotation>
			<xsd:documentation>The intended abstract supertype of all strings.
			This abstract type allows the control over whitespace for all strings to be defined at a high level. 
			This type should not be used directly except to derive another type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value='collapse'>
				<xsd:annotation>
					<xsd:documentation>Replace tab, line feed and carriage return with 
					a space, collapse contiguous sequences of spaces to a single space 
					and then remove leading and trailing spaces.</xsd:documentation>
				</xsd:annotation>
			</xsd:whiteSpace>
			<xsd:minLength value='1'>
				<xsd:annotation>
					<xsd:documentation>The empty string is not allowed.
					This constraint conbined with the whiteSpace collapse constraint means
					that a blank value is not allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:minLength>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- ======= CONTENT SPECIFIC ABSTRACT STRING TYPES  ======= -->
	<!--                                                         -->
	<xsd:simpleType name="abstractTypeEnum">
		<xsd:annotation>
			<xsd:documentation>The intended abstract supertype of all enumerated "types".
			This abstract type allows the maximum length of a type enumeration to be centrally defined.
			This type should not be used directly except to derive another type.
			It should be used for uncontrolled strings which are candidates to become enumerations at a future date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
</xsd:schema>
